@{
    ViewData["Title"] = "Home Page";
}


<h1>Wow Welcome To The Site</h1>
<p>Here you can enter all the Movies you Want</p>


<img src="~/img/joelhiltonheadshot.jpg" height="500"/>

<br />
<div>
    <a asp-controller="Home" asp-action="Movie">Fill out the application</a>
</div>
<div>
    <a asp-controller="Home" asp-action="Podcast">My Podcasts</a>
</div>

<div>
    <a asp-controller="Home" asp-action="MovieList">Movie List</a>
</div>