@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Hi, click the link</h1>
<a href="https://baconsale.com/">Baconsale Site</a>